<header class="header header-home">
    <div class="container">
        <nav class="header-content nav-home">
            <a href="./index.html" class="header-logo">
                <svg class="logo-icon" width="24" height="24">
                    <use href="./images/symbol-defs.svg#icon-logo"></use>
                </svg><span class="span-header">
                    Filmoteka</span>
            </a>

            <ul class="right-side list">
                <li class="header-item"><a href="./index.html" class="current header-link link">HOME</a></li>
                <li class="header-item"><a href="./library.html" class="header-link link">MY LIBRARY</a></li>
            </ul>
        </nav>
        <form class="header-form">
            <input type="text" class="header-input" placeholder="Movie search" />
            <svg class="input-icon" width="12" height="12">
                <use href="./images/symbol-defs.svg#icon-search"></use>
            </svg>
        </form>
    </div>
</header>

<section class="about">
    <h1 class="visually-hidden">title</h1>
    <div class="container">
        <div class="movies movies-home">
            <!-- <div class="movie-card">
                 <img class="movie-img" src="./images/Rectangle 5.jpg" alt="card">
            
                 <div class="movie-info">
                     <h2 class="movie-title">GREYHOUND</h2>
                    <h3 class="span-title">Drama, Action <span class="span-bord">2020</span></h3>
                     </div>
                 </div> -->
        </div>
    </div>
</section>

<footer class="footer">
    <div class="container footer-div">
        <p class="footer-text">© 2022 | All Rights Reserved |&nbsp</p>
        <p class="footer-text"> Developed with
            <svg class="footer-icon" width="14" height="12">
                <use href="./images/symbol-defs.svg#icon-heart"></use>
            </svg> by
            <a class="footer-link" href="">GoIt Students</a>
        </p>
    </div>
</footer>