
<div class="backdrop-movie is-hidden">
  <div class="modal">
    <button type='button' class='modal-close-btn close'>
      <svg class="button-vector" width="11" height="11">
        <use href="/src/images/symbol-defs.svg#icon-Vector-1"></use>
      </svg>
    </button>
  <div class="modal-conteiner" data-movieId="id">
        <div class='modal-conteiner-content'>
          <img
            class='modal-conteiner-img'
            src='#'
            alt='title'
            loading='lazy'
          />
        </div>
        <div class='card-container'>
          <h2 class='card-title'>title</h2>
          <ul class='card-list'>
            <li class='card-item'>
              Vote / Votes
              <p class='card-item-vote'>
                <span class='card-item-average'>vote_average</span>/
                <span class='card-item-count'>vote_count</span>
              </p>
            </li>
            <li class='card-item'>
              Popularity
              <span class='card-item-popularity'>popularity</span>
            </li>
            <li class='card-item'>
              Original Title
              <span class='card-item-original-title'>original_title</span>
            </li>
            <li class='card-item'>
              Genre
              <p class='card-item-genres'> genres
                  <span class='card-item-genre'></span>
              </p>
            </li>
          </ul>
          <p class='card-description'>About</p>
          <p class='card-text'>overview</p>
          <div class='card-ist-btn'>
            <button type='button' class='card-btn-watched'>ADD TO WATCHED</button>
            <button type='button' class='card-btn-que'>ADD TO</button>
          </div>
        </div>
      </div>
    </div>
</div>
